Telegram Chatbot Appointment Scheduler With Google Calendar for Dental assistant.json
{
  "name": "Telegram Chatbot Appointment Scheduler With Google Calendar for Dental assistant",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}\n",
        "options": {
          "systemMessage": "=🎯 Role of the Assistant\nYou are a virtual assistant specializing in appointment management for Dr. Super Sriram. Your goal is to schedule consultations accurately, ensuring real availability while providing a smooth experience for patients.\n\n🕒 Office Hours\nMonday - Friday: 9:00 AM - 8:00 PM\nSaturday: 9:00 AM - 1:00 PM\nTime zone: Asia/Kolkata (+05:30)\nSunday: ❌ Closed\nConsultation Duration: 1 hour\nBreak Between Patients: 15 minutes\n\n📅 Booking Process\n\n1️⃣ Request Patient Information (Mandatory):\nFull Name\nPhone Number\nDesired Date and Time\n2️⃣ Availability Check:\nIf the requested time is outside office hours → offer only available slots.\nIf the requested time is in the past provide them a warning.\nIf the requested time is available, ask for confirmation and book it.\nIf the requested time is unavailable, apologize and suggest the actual available slots on the requested day (between 9:00 AM and 8:00 PM, respecting breaks).\n\n##Example:\nIf a patient requests an appointment at 10:00 AM, check Google Calendar to confirm availability between 9:00 AM and 8:00 PM, considering the consultation duration (1 hour) and the 15-minute breaks.\nThe appointment is the past. Do you really wanted to proceed with?\n🚨 Do not confirm the appointment immediately—you must receive the patient's confirmation first.\n\n3️⃣ Confirmation & Updates:\nAlways confirm availability with the patient before finalizing.\nUpdate Google Calendar & Google Sheets after every booking along with the Event_ID field.\nUse the Event_ID field to remove from the Calendar in case of Cancellation and Reschedule.\nGoogle Calendar Event Title: \"Patient Name - Phone Number\".\nFor modifications or cancellations, free the slot and update the schedule.\n\n##Tools:\nUse \"Check Availability\" to check available slots.\nUse \"Creat event\" to book the appointment.\nUse \"Add data (append)\" to record patient information on new bookings.\nUse \"Add data\" to update an existing row by Event_ID.\nUse \"Mark row Rescheduled\" to mark the row when rescheduling.\nUse \"Mark row Cancelled\" to mark the row on cancellations.\nUse \"Delete an event in Google Calendar\" to delete a calendar event by Event_ID.\n\n💬 Communication\n✅ Respond to the user with a friendly message, but also return the appointment details as a JSON object with keys: name, phoneNumber, dateTime, id etc.\noutput: \"I have successfully scheduled your appointment! ...\"\n## Example\nI have successfully scheduled your appointment for Suresh at 10:00 AM today. \nHere are the updated details:\n- Name: Suresh\n- Phone Number: Not provided\n- Date & Time: 2025-11-09 at 10:00 AM\n- Status: Confirmed\n- Id: 1sl15btj3q7rsqq0l0bhembbqs\n- Calendar Link: [View Appointment](https://www.google.com/calendar/event?eid=1sl15btj3q7rsqq0l0bhembbqs)\nFeel free to click on the link to view the appointment details in the calendar. If you have any more questions or need assistance, just let me know!\n\n✅ Always confirm the final date and time with the patient.\n✅ When you Cancel an appointment also delete it from the Calendar\n✅ When you reschedule mark the old one as Rescheduled in the sheet and Delete it from the Calendar\n✅ After reschedule add the new one in the Calendar and the Sheet and mark it as Confirmed just like adding an new one\n✅ Make sure to update the ID field in the Google Sheet too\n✅ Ensure Google Calendar and Google Sheets are updated after every booking.\t\n\n⏱️ Time Handling (STRICT)\n📅 Today's date: {{ $now }}.\n- You MUST NOT guess or estimate the current time.\n- Always treat {{ $now }} as the current date and time in Asia/Kolkata (UTC+05:30).\n- Convert the user's requested time to a full ISO datetime in Asia/Kolkata with date included.\n- Only consider a requested time \"in the past\" if:\n      requested_start < ( {{ $now }} - 5 minutes )\n- If requested_start is after {{ $now }}, it is in the future. Do NOT mark it as past.\nExample:\nIf {{ $now }} = 2025-11-09T08:39:00+05:30 and user requests \"today at 10:00 AM\",\nthen requested_start = 2025-11-09T10:00:00+05:30 → this is in the future → DO NOT say it's in the past.\n\n🗑️ Cancellation:\n- When a patient cancels an appointment:\n  1) Call **\"Delete an event in Google Calendar\"** with the `Event_ID` to remove it from Calendar.\n  2) Call **\"Mark row Cancelled\"** (Sheets) to set `Appointment_Status = Cancelled` on the matching row (`Event_ID`).\n- Do not delete the row in the Sheet for cancellations; only mark as Cancelled.\n  Event_ID = the same Event_ID the user wants to cancel.\n- Then call \"Delete an event in Google Calendar\".\n- Then call \"Mark row Cancelled\".\n- After deletion, inform the user that the slot is now free.\n\nReschedule:\n- When a patient reschedules an appointment:\n  1) Call **\"Delete an event in Google Calendar\"** with the `Event_ID` to remove it from Calendar.\n  2) Call **\"Mark row Rescheduled\"** in Google Sheets to set `Appointment_Status = Rescheduled` on the matching row (`Event_ID`).\n     Do not delete the old row in the Sheet for reschedule; only mark as Rescheduled.\n  3) After that don't forget create a new booking with the new Event_Id for the rescheduled date and time (Including entries in both google sheet and the Calendar)\n  4) For reschedule no need to change the name and phone number\n\nAvailability Check:\nBefore new Booking or Rescheduling \n1) Always check for the Availability First \n2) If availability is there then first get the confirmation\n3) If not available handle it with a message \n4) If available or suggesting a new time, confirmation is mandatory before booking\n4) Don't say messages like \" Let me check for available slots around that time. One moment, please.\" if you need to check just check  \n\n🆕 New Booking\n1) Call Creat event with the chosen start/end.\n2) Read id as NEW_ID\n3) If id is blank wait until id is populated. Wait and try for 3 or 4 times if needed. \n4) HTML link as LINK.\n5) Call \"Add data (append)\" with { Patient_Name, Phone_Number, Date_and_Time, Appointment_Status: \"Confirmed\", Event_ID: NEW_ID }.\n6) Reply to the user and set your final JSON output to:\n\n{\n  \"name\": \"<Patient_Name>\",\n  \"phoneNumber\": \"<Phone_Number>\",\n  \"dateTime\": \"<ISO datetime or human text>\",\n  \"status\": \"Confirmed\",\n  \"id\": \"<NEW_ID>\",\n  \"calendarLink\": \"<LINK>\"\n}"
        }
      },
      "id": "64bb268a-62dc-4972-952c-1d62569ba330",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -480,
        304
      ],
      "typeVersion": 1.7,
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "b1180fef-0fc7-48c1-8d21-0f9124db2741",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -544,
        528
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "sfcvvDWlsGLqrz77",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}\n",
        "contextWindowLength": "={{ 5 }}"
      },
      "id": "4ed34dea-e42b-4682-b5d0-8e31eefc3b9b",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -400,
        528
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "**AI Agent 👇**\nThe Prompt is already there, You just need to setup the prompt user message with your text message.",
        "height": 141,
        "width": 194,
        "color": 7
      },
      "id": "c1ce12a6-0428-4452-abb8-163b08771890",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Chat Model ☝️**\nAdd your Open Ai API Key ",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "id": "9be08356-651a-4611-9beb-9ed47323f326",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Memory ☝️**\nAdd the Session ID ",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "id": "d2754971-0565-4140-90c7-a84d80debce5",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "sriramts1974@gmail.com",
          "mode": "list",
          "cachedResultName": "sriramts1974@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "id": "c07326b6-bb1d-411f-bc76-703bd2002af8",
      "name": "Check Availability",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        320,
        624
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "LYczp4vxbv9tUQOH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sriramts1974@gmail.com",
          "mode": "list",
          "cachedResultName": "sriramts1974@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "Appointment with Dr. Super Sriram"
        }
      },
      "id": "a4fdfaa5-3641-42b0-b129-fdb240785ae0",
      "name": "Creat event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        432,
        608
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "LYczp4vxbv9tUQOH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        464
      ],
      "id": "436d5411-718e-4e53-9ba8-72c48495f895",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -928,
        288
      ],
      "id": "7150413e-fb11-46ca-9fb8-0a58f9d9459e",
      "name": "Telegram Trigger",
      "webhookId": "e6578cc9-4b12-465c-863e-20fe42f455d9",
      "credentials": {
        "telegramApi": {
          "id": "uKOIF2nwNQxltVPM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        304
      ],
      "id": "4b579a22-ae23-4178-abdb-0b130dde9675",
      "name": "Send a text message",
      "webhookId": "a5e26b27-59b8-4486-b135-bdb734468b07",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "uKOIF2nwNQxltVPM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE",
          "mode": "list",
          "cachedResultName": "MyAppointmentSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Patient_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Patient_Name', ``, 'string') }}",
            "Date_and_Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_and_Time', ``, 'string') }}",
            "Phone_Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Appointment_Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Appointment_Status', ``, 'string') }}",
            "Event_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID__using_to_match_', ``, 'string') }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Event_ID"
          ],
          "schema": [
            {
              "id": "Patient_Name",
              "displayName": "Patient_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date_and_Time",
              "displayName": "Date_and_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Appointment_Status",
              "displayName": "Appointment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "27da22d6-7f72-49f7-92c2-1100872d9197",
      "name": "Add data",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1040,
        400
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iJLNoDxFepEWUkdn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "sriramts1974@gmail.com",
          "mode": "list",
          "cachedResultName": "sriramts1974@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        160,
        624
      ],
      "id": "c250cda8-36f0-4c1e-8d4d-dfb9f3ad7abb",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "LYczp4vxbv9tUQOH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE",
          "mode": "list",
          "cachedResultName": "MyAppointmentSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Patient_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Patient_Name', ``, 'string') }}",
            "Date_and_Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_and_Time', ``, 'string') }}",
            "Phone_Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Appointment_Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Appointment_Status', ``, 'string') }}",
            "Event_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Patient_Name",
              "displayName": "Patient_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date_and_Time",
              "displayName": "Date_and_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment_Status",
              "displayName": "Appointment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0d9670f3-9863-488a-b41e-3d1e4801c106",
      "name": "Add data (append)",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        688,
        560
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iJLNoDxFepEWUkdn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE",
          "mode": "list",
          "cachedResultName": "MyAppointmentSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit#gid=0"
        }
      },
      "id": "85b4d58a-4f31-4003-aadc-df5b167c9f94",
      "name": "Delete row",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1184,
        784
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iJLNoDxFepEWUkdn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE",
          "mode": "list",
          "cachedResultName": "MyAppointmentSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID__using_to_match_', ``, 'string') }}",
            "Appointment_Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Appointment_Status', ``, 'string') }}"
          },
          "matchingColumns": [
            "Event_ID"
          ],
          "schema": [
            {
              "id": "Patient_Name",
              "displayName": "Patient_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date_and_Time",
              "displayName": "Date_and_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Appointment_Status",
              "displayName": "Appointment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ca63fb0a-4a9a-4c2f-b90b-e865cf3bec84",
      "name": "Mark row Rescheduled",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        784,
        512
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iJLNoDxFepEWUkdn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE",
          "mode": "list",
          "cachedResultName": "MyAppointmentSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID__using_to_match_', ``, 'string') }}",
            "Appointment_Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Appointment_Status', ``, 'string') }}"
          },
          "matchingColumns": [
            "Event_ID"
          ],
          "schema": [
            {
              "id": "Patient_Name",
              "displayName": "Patient_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date_and_Time",
              "displayName": "Date_and_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Appointment_Status",
              "displayName": "Appointment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f19ccf3b-9908-45c0-a671-8241283b65f9",
      "name": "Mark row Cancelled",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        912,
        464
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iJLNoDxFepEWUkdn",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creat event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add data (append)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark row Rescheduled": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark row Cancelled": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "errorWorkflow": "UD2tM2R4s0VHzAyJ"
  },
  "versionId": "ad8096ad-7663-4c06-a178-402f39181d02",
  "meta": {
    "templateId": "3131",
    "templateCredsSetupCompleted": true,
    "instanceId": "3fa4a0a53d2d590ff285592caa2466b32912d85c1e1a6d03c165c8f6156b297a"
  },
  "id": "UD2tM2R4s0VHzAyJ",
  "tags": []
}