Telegram Chatbot Appointment Scheduler With Google Calendar for Dental assistant.json
{
  "name": "Telegram Chatbot Appointment Scheduler With Google Calendar for Dental assistant",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}\n",
        "options": {
          "systemMessage": "=🎯 Role of the Assistant\nYou are a virtual assistant specializing in appointment management for Dr. Super Sriram. Your goal is to schedule consultations accurately, ensuring real availability while providing a smooth experience for patients.\n\n🕒 Office Hours\nMonday - Friday: 9:00 AM - 8:00 PM\nSaturday: 9:00 AM - 1:00 PM\nSunday: ❌ Closed\nConsultation Duration: 1 hour\nBreak Between Patients: 15 minutes\n\n📅 Booking Process\n\n1️⃣ Request Patient Information (Mandatory):\nFull Name\nPhone Number\nDesired Date and Time\n2️⃣ Availability Check:\nIf the requested time is outside office hours → offer only available slots.\nIf the requested time is available, ask for confirmation and book it.\nIf the requested time is unavailable, apologize and suggest the actual available slots on the requested day (between 9:00 AM and 8:00 PM, respecting breaks).\nIf the requested time is in the past provide them a warning. \n\n##Example:\nIf a patient requests an appointment at 10:00 AM, check Google Calendar to confirm availability between 9:00 AM and 8:00 PM, considering the consultation duration (1 hour) and the 15-minute breaks.\nThe appointment is the past. Do you really wanted to proceed with?\n\n🚨 Do not confirm the appointment immediately—you must receive the patient's confirmation first.\n\n3️⃣ Confirmation & Updates:\nConfirm availability with the patient before finalizing.\nUpdate Google Calendar & Google Sheets after every booking along with the Event_ID field.\nUse the Event Id field to remove from the Calendar in case of Cancellation.\nGoogle Calendar Event Title: Patient Details: \"Patient Name - Phone Number\".\nFor modifications or cancellations, free the slot and update the schedule.\n\n##Tools:\nUse \"Check Availability\" to check available slots.\nUse \"Creat event\" to book the appointment.\nUse \"Add data (append)\" to record patient information on new bookings.\nUse \"Add data\" to update an existing row by Event_ID.\nUse \"Mark row Rescheduled\" to mark the old row when rescheduling.\nUse \"Mark row Cancelled\" to mark the row on cancellations.\nUse \"Delete an event in Google Calendar\" to delete a calendar event by Event_ID.\n\n\n💬 Communication\n✅ Respond to the user with a friendly message, but also return the appointment details as a JSON object with keys: name, phoneNumber, dateTime, id etc.\noutput: \"I have successfully scheduled your appointment! ...\"\n## Example\nname: \"Suresh\"\nphoneNumber: \"999\"\ndateTime: \"2025-11-03T09:00:00+05:30\"\nstatus: \"Confirmed\"\nId: 9oqhr3in0bca6tvo7j28llnul8\t\n✅ Always confirm the final date and time with the patient.\n✅ When you Cancel an appointment also delete it from the Calendar\n✅ When you reschedule mark the old one as Canceled in the sheet and Delete it from the Calendar\n✅ Make sure to update the ID field in the Google Sheet too\n✅ Ensure Google Calendar and Google Sheets are updated after every booking.\t\n\n📅 Today's date: {{ $now }}.\n\n🗑️ Cancellation:\n- When a patient cancels an appointment, call **\"Delete an event in Google Calendar\"** with the **Event_ID** to remove it from the calendar.\n- After deletion, inform the user that the slot is now free.\n- When a parent reschedules an appointment, for the old one call **\"Delete an event in the Google Calendar\"** with the **Event_ID** to remove it from the calendar\n- After deletion, create the new one in the calendar\n\n\n♻️ Reschedule (New Event + Delete Old + Sheet Update):\n- When patient requests to reschedule:\n  1. Create a **new** appointment using **Creat event**.\n  2. Call **Delete an event in Google Calendar** to remove the old appointment using the old **Event_ID**.\n  3. Call **Add data** (update) to update the existing sheet row matched by **Event_ID**, replacing the old Event_ID with the new one, and updating date/time and status.\n- Do **not** modify patient name or phone number during reschedule.\n\n\n🚦 Tool Calling Rules (MANDATORY)\n- **New appointment (no Event_ID provided):** call **\"Creat event\"**, then call **\"Add data (append)\"** to write the row with the returned `id`.\n- **Reschedule:**\n  1) Call **\"Creat event\"** to create the new event.\n  2) Call **\"Delete an event in Google Calendar\"** with the **old** `Event_ID` to remove the old event.\n  3) Call **\"Mark row Rescheduled\"** (Google Sheets) matching by **Event_ID** (old id) to remove the old row.\n  4) Call **\"Add data (append)\"** to append a **new** row with the **new** `Event_ID` and updated date/time/status.\n- Do **not** change Patient_Name or Phone_Number on reschedule.\n\n\n♻️ Reschedule:\n1) Call \"Creat event\" to create the new event.\n2) Call \"Delete an event in Google Calendar\" with the old Event_ID to remove the old event.\n3) Call \"Mark row Rescheduled\" (Sheets) to set the old row’s Appointment_Status to Rescheduled (match by Event_ID).\n4) Call \"Add data (append)\" to append a new row for the new event (using the new Event_ID).\n\n\n🗑️ Cancellation Policy:\n- When a patient cancels an appointment:\n  1) Call **\"Delete an event in Google Calendar\"** with the `Event_ID` to remove it from Calendar.\n  2) Call **\"Mark row Cancelled\"** (Sheets) to set `Appointment_Status = Cancelled` on the matching row (`Event_ID`).\n- Do not delete the row in the Sheet for cancellations; only mark as Cancelled.\n\n\n🔗 ID Passing Rule:\n- Immediately after calling \"Creat event\", read the tool response JSON and set Event_ID to the returned id.\n- Then call \"Add data (append)\", which reads Event_ID via $fromAI('Event_ID').\n- Never reference $node[...] inside Sheets; always pass Event_ID explicitly.\n\n🧩 **Set AI Data (MANDATORY before Sheets)**\n  - `Event_ID` → set to the returned `id` from the calendar event\n  - `Patient_Name`, `Phone_Number`, `Date_and_Time`, `Appointment_Status`\n- Only after you set these AI variables, call **\"Add data (append)\"**.\n- All Google Sheets nodes read values via `$fromAI('<KEY>')`.\n\n\n♻️ RESCHEDULE LOGIC (FINAL)\n1) Call **\"Creat event\"** to create the **new** appointment.\n2) Call **\"Delete an event in Google Calendar\"** using the **old** Event_ID.\n3) Call **\"Mark row Rescheduled\"** in Google Sheets to set the **old** row's status to `Rescheduled`.\n4) Call **\"Add data (append)\"** to insert a **new** row with the **new** Event_ID.\n\n\n🗑️ CANCELLATION LOGIC (FINAL)\n1) Call **\"Delete an event in Google Calendar\"** using the Event_ID.\n2) Call **\"Mark row Cancelled\"** to set the row's status to `Cancelled`.\n\n\n🧩 EVENT_ID HANDLING FOR CANCELLATION\n  Event_ID = the same Event_ID the user wants to cancel.\n- Then call \"Delete an event in Google Calendar\".\n- Then call \"Mark row Cancelled\".\n\n\n\n♻️ RESCHEDULE (AUTOMATED, HISTORY-PRESERVING)\n- Steps & arguments:\n  1) \"Creat event\" → capture returned id as NEW_EVENT_ID\n  2) \"Delete an event in Google Calendar\" with: { Event_ID: <OLD_EVENT_ID> }\n  3) \"Mark row Rescheduled\" with: { Event_ID: <OLD_EVENT_ID> }\n  4) \"Add data (append)\" with fields: { Event_ID: <NEW_EVENT_ID>, Patient_Name, Phone_Number, Date_and_Time, Appointment_Status }\n- Never reference $node[...] inside Sheets; always pass values as tool arguments.\n\n\n🗑️ CANCELLATION (AUTOMATED & RELIABLE)\n- Always do these steps in order:\n  2) Call \"Delete an event in Google Calendar\" (uses $fromAI('Event_ID')).\n  3) Call \"Mark row Cancelled\" (uses $fromAI('Event_ID')).\n- Never skip step 1; both tools read Event_ID from AI variables.\n\n\n🔒 TOOL ARGUMENTS POLICY (No shared state)\n- Always pass explicit arguments to every tool call.\n- Sheets nodes read values from the tool input as $json.<Field>.\n- Required fields:\n  • For Add data (append): Patient_Name, Phone_Number, Date_and_Time, Appointment_Status, Event_ID\n  • For Mark row Rescheduled / Cancelled: Event_ID\n  • For Delete an event in Google Calendar: Event_ID\n\n🗑️ CANCEL (100% AUTO)\n1) Call \"Delete an event in Google Calendar\" with { Event_ID }.\n2) Call \"Mark row Cancelled\" with { Event_ID }.\n\n♻️ RESCHEDULE (HISTORY-PRESERVING)\n1) Call \"Creat event\" → read returned id and then call \"Add data (append)\" with { Patient_Name, Phone_Number, Date_and_Time, Appointment_Status: \"Confirmed\", Event_ID: <new id> }.\n2) Call \"Delete an event in Google Calendar\" with { Event_ID: <old id> }.\n3) Call \"Mark row Rescheduled\" with { Event_ID: <old id> }.\n"
        }
      },
      "id": "7efd0c3d-549a-4032-85a8-c2c8ca362d77",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        208,
        -384
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "b5632970-9c4c-4130-bf25-025e1212a56a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        144,
        -160
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "sfcvvDWlsGLqrz77",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}\n",
        "contextWindowLength": "={{ 5 }}"
      },
      "id": "ab925a5e-e37e-4bf8-a1dd-e50da82733e4",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        288,
        -160
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "**AI Agent 👇**\nThe Prompt is already there, You just need to setup the prompt user message with your text message.",
        "height": 141,
        "width": 194,
        "color": 7
      },
      "id": "1eb3f094-c2a0-4269-b528-8532c6df5b52",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Chat Model ☝️**\nAdd your Open Ai API Key ",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "id": "e6f6c15c-1131-4a7f-b7d9-37799220e704",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Memory ☝️**\nAdd the Session ID ",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "id": "ad4211c8-d546-497f-b7df-bd7035040f78",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "sriramts1974@gmail.com",
          "mode": "list",
          "cachedResultName": "sriramts1974@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "id": "bbd8516c-0da8-4bee-a8c6-486e8b0597c0",
      "name": "Check Availability",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        672,
        -64
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "LYczp4vxbv9tUQOH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sriramts1974@gmail.com",
          "mode": "list",
          "cachedResultName": "sriramts1974@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "Appointment with Dr. Super Sriram"
        }
      },
      "id": "6ff1d827-dae1-413a-83fb-26e776838bf3",
      "name": "Creat event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        896,
        -64
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "LYczp4vxbv9tUQOH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -224
      ],
      "id": "c45125b8-6429-42c7-8e30-484c89f80630",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        -400
      ],
      "id": "104166f8-9142-46d9-a74a-45eb9126d5fd",
      "name": "Telegram Trigger",
      "webhookId": "e6578cc9-4b12-465c-863e-20fe42f455d9",
      "credentials": {
        "telegramApi": {
          "id": "uKOIF2nwNQxltVPM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        -384
      ],
      "id": "98c30e4b-85e3-4f50-b961-7cd82186d9eb",
      "name": "Send a text message",
      "webhookId": "a5e26b27-59b8-4486-b135-bdb734468b07",
      "credentials": {
        "telegramApi": {
          "id": "uKOIF2nwNQxltVPM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE",
          "mode": "list",
          "cachedResultName": "MyAppointmentSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Patient_Name": "={{ $json.Patient_Name }}",
            "Date_and_Time": "={{ $json.Date_and_Time }}",
            "Phone_Number": "={{ $json.Phone_Number }}",
            "Appointment_Status": "={{ $json.Appointment_Status }}",
            "Event_ID": "={{ $json.Event_ID }}"
          },
          "matchingColumns": [
            "Event_ID"
          ],
          "schema": [
            {
              "id": "Patient_Name",
              "displayName": "Patient_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date_and_Time",
              "displayName": "Date_and_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Appointment_Status",
              "displayName": "Appointment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b873b0d2-9845-44d3-b649-f9c9afecd7f8",
      "name": "Add data",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1712,
        -288
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iJLNoDxFepEWUkdn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "sriramts1974@gmail.com",
          "mode": "list",
          "cachedResultName": "sriramts1974@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        496,
        -64
      ],
      "id": "bf83b5e8-53b5-44e8-8241-e4af9996ac27",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "LYczp4vxbv9tUQOH",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE",
          "mode": "list",
          "cachedResultName": "MyAppointmentSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Patient_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Patient_Name', ``, 'string') }}",
            "Date_and_Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_and_Time', ``, 'string') }}",
            "Phone_Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Appointment_Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Appointment_Status', ``, 'string') }}",
            "Event_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Patient_Name",
              "displayName": "Patient_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date_and_Time",
              "displayName": "Date_and_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment_Status",
              "displayName": "Appointment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ffb7ef6a-b00a-47f5-9fc4-ce4030e07052",
      "name": "Add data (append)",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1360,
        -128
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iJLNoDxFepEWUkdn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE",
          "mode": "list",
          "cachedResultName": "MyAppointmentSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit#gid=0"
        }
      },
      "id": "70ceba68-4d10-4b40-b1ca-0fc47001ed1a",
      "name": "Delete row",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1856,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iJLNoDxFepEWUkdn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE",
          "mode": "list",
          "cachedResultName": "MyAppointmentSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event_ID": "={{ $json.Event_ID }}",
            "Appointment_Status": "={{ $json.Appointment_Status }}"
          },
          "matchingColumns": [
            "Event_ID"
          ],
          "schema": [
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "type": "string",
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment_Status",
              "displayName": "Appointment_Status",
              "type": "string",
              "display": true,
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "27d93220-dc06-46f8-b267-c99eca591a1e",
      "name": "Mark row Rescheduled",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1456,
        -176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iJLNoDxFepEWUkdn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE",
          "mode": "list",
          "cachedResultName": "MyAppointmentSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PYAr5aGLJ82aMfdc-FjP6ZraHqbuMOwL1Z62b4eCasE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID__using_to_match_', ``, 'string') }}",
            "Patient_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Patient_Name', ``, 'string') }}",
            "Date_and_Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_and_Time', ``, 'string') }}",
            "Phone_Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Appointment_Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Appointment_Status', ``, 'string') }}"
          },
          "matchingColumns": [
            "Event_ID"
          ],
          "schema": [
            {
              "id": "Patient_Name",
              "displayName": "Patient_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date_and_Time",
              "displayName": "Date_and_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment_Status",
              "displayName": "Appointment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "de547422-f707-454b-81a3-7a88225d21f0",
      "name": "Mark row Cancelled",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1584,
        -224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iJLNoDxFepEWUkdn",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creat event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add data (append)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark row Rescheduled": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark row Cancelled": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "errorWorkflow": "UD2tM2R4s0VHzAyJ"
  },
  "versionId": "b5740182-5e8a-42f7-8c10-b0ce08c96ef8",
  "meta": {
    "templateId": "3131",
    "templateCredsSetupCompleted": true,
    "instanceId": "3fa4a0a53d2d590ff285592caa2466b32912d85c1e1a6d03c165c8f6156b297a"
  },
  "id": "UD2tM2R4s0VHzAyJ",
  "tags": []
}